<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{ block "title" . }}Default Titles
    {{ end }}
  </title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js" integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
    }

    .button {
      border-radius: 5px;
      background-color: cornflowerblue;
      color: white;
      padding: 10px;
      text-decoration: inherit;
    }

    .button:hover {
      background-color: rgb(89, 132, 212);
    }

    .button:active {
      background-color: rgb(89, 132, 212);
    }
  </style>
</head>

<body>
  <main>
    {{ if .Error }}
    <p>An error occurred</p>
    {{end}}
    {{ block "content" . }}
    {{ end }}
  </main>
</body>

</html>